@media (min-width: 1000px) and (max-width: 1399px) {
  .page-inner {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .description {
    font-size: 24px;
  }

  .description-secondary {
    font-size: 16px;
    line-height: 135%;
  }

  .page-photo-description {
    padding-top: 40px;
    padding-bottom: 40px;

    &__right {
      padding-top: 0;
      padding-left: 32px;

      & * + * {
        margin-top: 20px;
      }
    }
  }

  // slider

  .swiper {
    &-slide {
      min-height: 258px;
    }
    & .projects__info {
      padding-bottom: 15px;
      padding-left: 20px;
      .swiper-slide__item:not(:last-child) {
        margin-bottom: 34px;
      }
      .swiper-slide__title {
        font-size: 16px;
      }
    }
  }

  // designing-technical-support.html

  // abouts
  .abouts {
    padding-top: 100px;
    padding-bottom: 100px;
    &__item {
      flex-basis: 300px;
    }
    &__title {
      margin-bottom: 20px;
    }
  }

  // run-systems.html
  .run-systems {
    // offers
    .offers {
      padding-top: 100px;
      padding-bottom: 100px;

      .area {
        display: flex;

        &__header {
          margin-bottom: 30px;
        }

        &__header + .area__image-box {
          display: none;
        }

        &__list {
          max-width: 450px;
        }
      }

      // resist
      .resist {
        &__header {
          margin-bottom: 30px;
        }

        &__descr-box {
          display: flex;
          justify-content: space-between;
        }

        &__descr {
          flex-basis: 50%;
        }

        &__descr:first-child {
          padding-right: 20px;
        }
      }

      // fireresist
      .fireresist {
        display: flex;

        &__header {
          margin-bottom: 30px;
        }

        &__header + .fireresist__image-box {
          display: none;
        }

        &__left {
          flex-basis: 50%;
          padding-right: 16px;
        }

        &__right {
          flex-basis: 50%;
          display: flex;
        }

        &__image-box {
          flex-basis: 50%;
        }

        &__descr-laptop {
          display: none;
        }
      }

      // economy
      .economy {
        &__header {
          margin-bottom: 30px;
        }

        &__descr-box {
          display: flex;
          justify-content: space-between;
        }

        &__descr {
          flex-basis: 50%;
        }

        &__descr:first-child {
          padding-right: 20px;
        }
      }

      // roofs
      .roofs {
        display: flex;
        &__left {
          padding-right: 8px;
        }
        &__right {
          padding-left: 8px;
        }
        &__image-box {
          margin-bottom: 40px;
        }

        &__title {
          margin-bottom: 20px;
        }

        &__list {
          padding-right: 5px;
          line-height: 135%;
        }
      }

      & > * + * {
        margin-top: 100px;
      }
    }
  }

  // steel-frames.html
  .steel-frames {
    & > * + * {
      margin-top: 80px;
    }
    .description-inner {
      &__block {
        display: flex;
        padding-top: 60px;
        padding-bottom: 60px;
      }
      &__left {
        flex-basis: 50%;
        padding-right: 10px;
      }
      &__right {
        flex-basis: 50%;
        padding-right: 5px;
      }
    }

    .buildings {
      &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      &__item:not(:last-child) {
        margin-right: 16px;
      }

      &__item:last-child {
        padding-top: 11px;
        & .build-card__top {
          & .build-card__image-box {
            min-width: 140px;
            max-width: 140px;
          }
        }
      }
    }

    .build-card {
      &__image-box {
        min-width: 228px;
        max-width: 228px;
        min-height: 161px;
        max-height: 161px;
      }
    }

    .catalog {
      &__body {
        font-size: 16px;
        line-height: 135%;
      }
    }

    .bvz-links {
      &__item:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  // bvz.html (Быстро-возводимые здания)
  .bvz {
    .products {
      &__item {
        padding-top: 50px;
      }
      &__item:not(:first-child) {
        padding-top: 75px;
      }
      &__left {
        padding-right: 87px;
      }
      &__center {
        padding-right: 34px;
      }
      &__right {
        padding-left: 5px;
      }
      &__link::after {
        bottom: 3px;
      }
    }

    // slider
    .slider {
      margin-bottom: 120px;
      margin-top: 45px;
      & .projects__keys {
        padding-top: 0;
        margin-top: -50px;
        justify-content: center;
      }
    }
  }

  // 404.html
  .page404 {
    margin-top: 100px;
    // error 404 banner
    .error404 {
      &__content {
        padding: 40px 325px 50px 50px;
      }
      &__header {
        margin-bottom: 60px;
      }
      &__message {
        margin-bottom: 75px;
      }
    }

    .page-links {
      margin-top: 80px;
      margin-bottom: 120px;
    }
  }
}
