@media (min-width: 1000px) and (max-width: 1399px) {
  // Common
  .page-inner {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .news-page-inner {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .description {
    font-size: 24px;
  }

  .description-secondary {
    font-size: 16px;
    line-height: 135%;
  }

  .page-photo-description {
    padding-top: 40px;
    padding-bottom: 40px;

    &__right {
      padding-top: 0;
      padding-left: 32px;

      & * + * {
        margin-top: 20px;
      }
    }
  }

  // subscribe
  .subscribe {
    &__left {
      flex-basis: 325px;
    }
    &__right {
      max-width: none;
      flex-grow: 1;
    }
  }

  // factory
  .factory {
    &__left {
      flex-basis: 244px;
      flex-shrink: 0;
      padding-right: 25px;
    }
    &__center {
      flex-basis: 244px;
      flex-shrink: 0;
      padding-right: 44px;
    }
    &__right {
      flex-basis: 472px;
    }
  }

  // catalog
  .catalog {
    &__body {
      font-size: 16px;
      line-height: 135%;
    }
  }

  // slider
  .swiper {
    &-slide {
      min-height: 258px;
    }
    & .projects__info {
      padding-bottom: 15px;
      padding-left: 20px;
      .swiper-slide__item:not(:last-child) {
        margin-bottom: 34px;
      }
      .swiper-slide__title {
        font-size: 16px;
      }
    }
  }

  // slider-sandwich-panels
  .slider-sandwich-panels.slider {
    margin-bottom: 0px;
    margin-top: 0px;
    & .projects__keys {
      padding-top: 0;
      margin-top: -50px;
      justify-content: center;
    }
  }

  // manufacture
  .manufacture {
    &__top {
      margin-bottom: 122px;
    }
    &__title-box {
      flex-basis: 50%;
      padding-right: 0px;
    }
    &__header {
      margin-right: 171px;
    }
    &__header + .manufacture__descr {
      display: block;
      margin-right: 155px;
      margin-top: 30px;
    }
    &__descr-box {
      display: none;
    }
    &__image-box {
      flex-basis: 50%;
      & img {
        display: block;
        margin-left: auto;
      }
    }
    &__info {
      flex-basis: 325px;
      flex-shrink: 0;
    }
    &__middle {
      margin-bottom: 273px;
    }
    &__address {
      margin-right: 140px;
    }
  }

  .telephone__desktop {
    display: initial;
  }
  .telephone__mobile {
    display: none;
  }

  // Pages css:

  // designing-technical-support.html

  // abouts
  .abouts {
    padding-top: 100px;
    padding-bottom: 100px;
    &__item {
      flex-basis: 300px;
    }
    &__title {
      margin-bottom: 20px;
    }
  }

  // run-systems.html
  .run-systems {
    // offers
    .offers {
      padding-top: 100px;
      padding-bottom: 100px;

      .area {
        display: flex;

        &__header {
          margin-bottom: 30px;
        }

        &__header + .area__image-box {
          display: none;
        }

        &__list {
          max-width: 450px;
        }
      }

      // resist
      .resist {
        &__header {
          margin-bottom: 30px;
        }

        &__descr-box {
          display: flex;
          justify-content: space-between;
        }

        &__descr {
          flex-basis: 50%;
        }

        &__descr:first-child {
          padding-right: 20px;
        }
      }

      // fireresist
      .fireresist {
        display: flex;

        &__header {
          margin-bottom: 30px;
        }

        &__header + .fireresist__image-box {
          display: none;
        }

        &__left {
          flex-basis: 50%;
          padding-right: 16px;
        }

        &__right {
          flex-basis: 50%;
          display: flex;
        }

        &__image-box {
          flex-basis: 50%;
        }

        &__descr-laptop {
          display: none;
        }
      }

      // economy
      .economy {
        &__header {
          margin-bottom: 30px;
        }

        &__descr-box {
          display: flex;
          justify-content: space-between;
        }

        &__descr {
          flex-basis: 50%;
        }

        &__descr:first-child {
          padding-right: 20px;
        }
      }

      // roofs
      .roofs {
        display: flex;
        &__left {
          padding-right: 8px;
        }
        &__right {
          padding-left: 8px;
        }
        &__image-box {
          margin-bottom: 40px;
        }

        &__title {
          margin-bottom: 20px;
        }

        &__list {
          padding-right: 5px;
          line-height: 135%;
        }
      }

      & > * + * {
        margin-top: 100px;
      }
    }
  }

  // steel-frames.html
  .steel-frames {
    & > * + * {
      margin-top: 80px;
    }
    .description-inner {
      &__block {
        display: flex;
        padding-top: 60px;
        padding-bottom: 60px;
      }
      &__left {
        flex-basis: 50%;
        padding-right: 10px;
      }
      &__right {
        flex-basis: 50%;
        padding-right: 5px;
      }
    }

    .buildings {
      &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      &__item:not(:last-child) {
        margin-right: 16px;
      }

      &__item:last-child {
        padding-top: 11px;
        & .build-card__top {
          & .build-card__image-box {
            min-width: 140px;
            max-width: 140px;
          }
        }
      }
    }

    .build-card {
      &__image-box {
        min-width: 228px;
        max-width: 228px;
        min-height: 161px;
        max-height: 161px;
      }
    }

    .bvz-links {
      &__item:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  // bvz.html (Быстро-возводимые здания)
  .bvz {
    .products {
      &__item {
        padding-top: 50px;
      }
      &__item:not(:first-child) {
        padding-top: 75px;
      }
      &__left {
        padding-right: 87px;
      }
      &__center {
        padding-right: 34px;
      }
      &__right {
        padding-left: 5px;
      }
      &__link::after {
        bottom: 3px;
      }
    }

    // slider
    .slider {
      margin-bottom: 120px;
      margin-top: 45px;
    }
  }

  // single-news.html
  .single-news-page {
    & > * + * {
      margin-top: 104px;
    }
    & > :last-child {
      margin-bottom: 100px;
    }
    // single-news
    .single-news {
      &__left {
        flex-basis: 300px;
      }
      &__right {
        padding-left: 24px;
      }
      &__text {
        margin-top: 30px;
      }
      &__link {
        margin-top: 50px;
      }
    }
  }

  // news-page.html
  .news-page {
    & > * + * {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    // news list
    .news {
      padding-top: 0;
      padding-bottom: 0;
    }

    // subscribe
    .subscribe {
      &__left {
        padding-right: 98px;
      }
    }
  }

  // contacts.html page
  .contacts-page {
    & > * + * {
      margin-top: 100px;
    }
    // location
    .location {
      padding: 80px 0;
      background-color: #004289;
      &__header,
      &__tel,
      &__mail,
      &__address,
      &__social {
        font-style: normal;
        color: $color-white;
      }
      &__content {
        display: flex;
      }
      &__left {
        flex-basis: 244px;
        flex-shrink: 0;
      }
      &__center {
        flex-basis: 244px;
        flex-shrink: 0;
        padding-right: 44px;
        & :nth-child(2) {
          margin-top: 18px;
        }
        & :nth-child(3) {
          margin-top: 18px;
        }
        & :nth-child(4) {
          margin-top: 32px;
        }
        & :nth-child(5) {
          margin-top: 30px;
        }
      }
      &__right {
        flex-basis: auto;
        flex-grow: 1;
      }
    }
  }

  // 404.html
  .page404 {
    margin-top: 100px;
    // error 404 banner
    .error404 {
      &__content {
        padding: 40px 325px 50px 50px;
      }
      &__header {
        margin-bottom: 60px;
      }
      &__message {
        margin-bottom: 75px;
      }
    }

    .page-links {
      margin-top: 80px;
      margin-bottom: 120px;
    }
  }

  // privacy.html
  .privacy-page {
    // privacy
    .privacy {
      &__title:not(:first-child) {
        margin-top: 80px;
      }
    }
    // page-links
    .page-links {
      margin-bottom: 120px;
    }
  }

  // search
  .page-inner__search {
    padding-bottom: 30px;
  }

  // about.html
  .about-page {
    // inner
    .about-inner {
      margin-bottom: 101px;
      &__left {
        padding-right: 27px;
      }
      &__right {
      }
    }
    // stats
    .stats {
      margin-bottom: 60px;
    }
    // more-about
    .more-about {
      margin-bottom: 80px;
      &__left {
        padding-right: 36px;
      }
      &__right {
        padding-right: 36px;
      }
      &__descr {
        margin-top: 20px;
      }
      &__link {
        margin-top: 20px;
      }
    }
    // mission
    .mission {
      padding: 80px 0;
      &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 103px;
      }
      &__right {
        padding-left: 8px;
        padding-right: 0px;
      }
      &__header {
        color: $color-white;
        margin-bottom: 118px;
      }
      &__descr {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #255f9d;
      }
      &__part:nth-child(2) p:last-child {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
      }
    }
    // values
    .values {
      margin-bottom: 100px;
      padding: 80px 0;
      &__header {
        margin-bottom: 40px;
      }
      &__item {
        flex-basis: 33.333%;
        padding-right: 30px;
      }
    }
    // benefits
    .benefits {
      padding-bottom: 60px;
    }

    .page-links {
      margin-bottom: 100px;
    }
  }

  // product-page.html
  .product-page {
    // product
    .product {
      margin-bottom: 60px;
      &__right {
        padding-left: 147px;
      }
      &__left {
        padding-right: 0px;
      }
      &__laptop {
        .product__characteristic {
          display: none;
        }
        .product__btn {
          display: none;
        }
      }
    }
    // catalog
    .catalog {
      margin-bottom: 100px;
    }

    // components
    .components {
      margin-bottom: 100px;
      &__content {
        grid-gap: 15px;
      }
      &__item {
        padding: 30px;
      }
      &__item:first-child {
        & .components__descr {
          padding-right: 0px;
        }
      }
      &__item:nth-child(2) {
        & .components__descr {
          padding-right: 0px;
        }
      }
      &__title {
        margin-bottom: 30px;
      }
      &__descr {
        margin-bottom: 40px;
        padding-right: 0px;
      }
    }
    // tech-info
    .tech-info {
      margin-bottom: 130px;
    }
    // use-areas
    .use-areas {
      margin-bottom: 100px;
      &__right {
        padding-left: 86px;
        & .swiper-slide__image-box img {
          display: block;
          margin-left: auto;
        }
      }
      &__descr {
        margin-top: 30px;
      }
      &__top {
        padding-bottom: 55px;
      }
      &__bottom {
        padding-top: 20px;
      }
      & .page-links__list {
        & .page-links__item {
          margin-top: 14px;
        }
      }
    }

    .slider-sandwich-panels {
      margin-bottom: 120px;
    }
  }

  // project-page.html
  .project-page {
    // project
    .project {
      min-height: 266px;
      margin-bottom: 80px;
      height: auto;
      &__right {
        max-width: 490px;
        padding-left: 30px;
      }
      &__row {
        padding-bottom: 8px;
        padding-top: 11px;
      }
      &__key {
        font-size: 16px;
      }
      &__value {
        font-size: 16px;
      }
    }
    // about-project
    .about-project {
      margin-bottom: 120px;
      &__header {
        margin-bottom: 45px;
      }
      &__descr {
        max-width: 792px;
        margin-bottom: 100px;
        font-size: 24px;
      }
      .slider {
        margin-bottom: 80px;
        .projects__arrows-btns {
          margin: auto;
        }
      }
      &__question {
        padding-right: 33px;
      }
      &__answer {
        padding-right: 10px;
      }
      &__result {
        margin-top: 100px;
        padding: 50px;
      }
      &__left {
        padding-right: 33px;
      }
      &__title {
        margin-bottom: 30px;
      }
      &__video-box {
        min-height: 237px;
      }
    }
    // delivered-products
    .delivered-products {
      margin-bottom: 120px;
    }
  }

  // collaboration-page.html
  .collaboration-page {
    .collaboration {
      padding-top: 60px;
      padding-bottom: 60px;
      &__left {
        flex-basis: 50%;
        padding-right: 16px;
      }
      &__right {
        flex-basis: 50%;
        padding-right: 0px;
      }
    }

    // information
    .information {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    // info-lists
    .info-lists {
      &__left {
        padding-right: 11px;
      }
      &__right {
        padding-right: 11px;
      }
      &__list {
        margin-top: 30px;
        list-style-type: disc;
      }
    }
    // descriptions
    .descriptions {
      padding-top: 100px;
      padding-bottom: 100px;
      &__left {
        padding-right: 16px;
      }
      &__right {
        padding-right: 0px;
      }
    }
    // collaboration-form
    .collaboration-form {
      margin-bottom: 100px;
      &__content {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        background: #ffffff;
        & .request__descr {
          margin-right: 16px;
        }
        & .form__btn {
          background-color: #7f8f9f;
          &:hover {
            background-color: $color-hover-light;
            color: $color-black;
          }
        }
      }
    }
  }

  // history-page
  .history-page {
    .history-inner {
      margin-bottom: 135px;
    }
    // timeline
    .timeline-block {
      margin-bottom: 100px;
    }
    .timeline {
      section.year {
        section {
          ul {
            max-width: 470px;
          }
        }
      }
    }
    // page-links
    .page-links {
      margin-bottom: 200px;
    }
  }

  // Career page
  .career-page {
    .career-inner {
      padding-top: 60px;
      padding-bottom: 60px;
      &__left {
        flex-basis: 650px;
        padding-right: 80px;
      }
      &__right {
        flex-basis: 310px;
        padding-right: 0px;
      }
    }
    // career-feature
    .career-feature {
      margin-top: 100px;
      margin-bottom: 100px;
      &__title {
        margin-bottom: 40px;
        margin-right: 0px;
      }
      &__item > * + * {
        margin-top: 29px;
      }
      &__item:nth-child(odd) {
        padding-right: 17px;
      }
      &__item:nth-child(even) {
        padding-right: 0px;
      }
      &__item:nth-child(2n + 3) {
        margin-top: 100px;
      }
      &__item:nth-child(2n + 4) {
        margin-top: 100px;
      }
    }
  }

  // manufacture-page
  .manufacture-page {
    .manufacture-inner {
      &__left {
        padding-top: 60px;
        padding-bottom: 60px;
        flex-basis: 50%;
        & .manufacture-inner__descr:first-child {
          margin-bottom: 40px;
          margin-right: 17px;
        }
        & .manufacture-inner__descr:nth-child(2) {
          margin-bottom: 20px;
        }
        & .manufacture-inner__descr:not(:first-child) {
          margin-right: 17px;
        }
      }
      &__right {
        flex-basis: 50%;
      }
      &__image-box {
        max-width: 303px;
      }
    }
    // page-links
    .page-links {
      margin-bottom: 100px;
    }
  }

  // docs
  .docs-page {
    .docs {
      margin-bottom: 100px;
      .catalog {
        &__link-box {
          flex-basis: 544px;
          max-width: 544px;
        }
        &__type {
          margin-left: 30px;
        }
      }
      .pagination {
        margin-top: 40px;
      }
    }
  }

  .projects-page {
    .projects {
      &__list {
        grid-gap: 30px;
        margin-top: 40px;
      }
      &__title {
        font-size: 16px;
      }
    }
    .catalog {
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }

  // sandvich-panels-page.html
  .sandvich-panels-page {
    .sandvich-panels-inner {
      padding-top: 60px;
      padding-bottom: 60px;
      &__content {
        display: grid;
        grid-template-columns: 30% 35% 35%;
      }
      &__left {
        padding-right: 97px;
      }
      &__middle {
        padding-right: 44px;
      }
      &__right {
        padding-left: 15px;
      }
      &__title {
        margin-bottom: 15px;
      }
      &__info:nth-child(2) {
        margin-top: 30px;
      }
    }

    .sandvich-panels-table {
      &__content {
        margin-top: 80px;
      }
      &__left {
        width: 325px;
        padding-right: 100px;
      }
      &__list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
      }
    }

    .catalog {
      margin-top: 120px;
      margin-bottom: 100px;
    }
  }
  // <-- media big end -->
}
