@media (min-width: 1000px) and (max-width: 1399px) {
  .page-inner {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .description {
    font-size: 24px;
  }
  .description-secondary {
    font-size: 16px;
    line-height: 135%;
  }
  .page-photo-description {
    padding-top: 40px;
    padding-bottom: 40px;
    &__right {
      padding-top: 0;
      padding-left: 32px;
      & * + * {
        margin-top: 20px;
      }
    }
  }

  // designing-technical-support.html

  // abouts
  .abouts {
    padding-top: 100px;
    padding-bottom: 100px;
    &__item {
      flex-basis: 300px;
    }
    &__title {
      margin-bottom: 20px;
    }
  }

  // run-systems.html
  // offers
  .offers {
    padding-top: 100px;
    padding-bottom: 100px;
    .area {
      display: flex;
      &__header {
        margin-bottom: 30px;
      }
      &__header + .area__image-box {
        display: none;
      }
      &__list {
        max-width: 450px;
      }
    }
    // resist
    .resist {
      &__header {
        margin-bottom: 30px;
      }
      &__descr-box {
        display: flex;
        justify-content: space-between;
      }
      &__descr {
        flex-basis: 50%;
      }
      &__descr:first-child {
        padding-right: 20px;
      }
    }
    // fireresist
    .fireresist {
      display: flex;
      &__header {
        margin-bottom: 30px;
      }
      &__header + .fireresist__image-box {
        display: none;
      }
      &__left {
        flex-basis: 50%;
        padding-right: 16px;
      }
      &__right {
        flex-basis: 50%;
        display: flex;
      }
      &__image-box {
        flex-basis: 50%;
      }
      &__descr-laptop {
        display: none;
      }
    }
    // economy
    .economy {
      &__header {
        margin-bottom: 30px;
      }
      &__descr-box {
        display: flex;
        justify-content: space-between;
      }
      &__descr {
        flex-basis: 50%;
      }
      &__descr:first-child {
        padding-right: 20px;
      }
    }
    // roofs
    .roofs {
      display: flex;
      &__left {
        padding-right: 8px;
      }
      &__right {
        padding-left: 8px;
      }
      &__image-box {
        margin-bottom: 50px;
      }
      &__title {
        margin-bottom: 20px;
      }
      &__list {

      }
    }
    & > * + * {
      margin-top: 100px;
    }
  }
}
