@media (min-width: 320px) and (max-width: 639px) {
  // Common
  .page-inner {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .page-header {
    font-size: 35px;
    line-height: 120%;
    color: $color-header;
  }

  .news-page-inner {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .news-page-header {
    font-size: 30px;
    line-height: 120%;
  }

  .page-title {
    font-size: $font-size-header-lap;
  }

  .description {
    font-size: 22px;
  }

  .description-secondary {
    font-size: 16px;
    line-height: 135%;
  }

  .page-photo-description {
    padding-top: 30px;
    padding-bottom: 30px;

    &__content {
      flex-direction: column;
    }

    &__right {
      padding: 0;
      padding-top: 30px;

      & * + * {
        margin-top: 30px;
      }
    }

    &__left {
      padding: 0;
    }
  }

  // subscribe
  .subscribe {
    &__content {
      flex-wrap: wrap;
    }
    &__left {
      flex-basis: 100%;
    }
    &__right {
      flex-basis: 100%;
      margin-top: 20px;
      max-width: none;
    }
    &__form {
      flex-wrap: wrap;
    }
    &__input {
      flex-basis: 100%;
      margin-right: 0px;
    }
    &__btn {
      flex-basis: 100%;
      margin-top: 15px;
    }
    &__privacy {
      margin-top: 20px;
    }
  }

  // factory
  .factory {
    &__content {
      flex-wrap: wrap;
    }
    &__left {
      flex-basis: 100%;
      flex-shrink: 0;
      padding-right: 92px;
    }
    &__center {
      flex-basis: 100%;
      flex-shrink: 0;
      margin-top: 30px;
      padding-right: 60px;
    }
    &__right {
      margin-top: 30px;
      flex-basis: 100%;
      height: 176px;
    }
  }

  // catalog
  .catalog {
    &__body {
      font-size: 16px;
      line-height: 135%;
    }
  }

  // product-characteristic
  .product-characteristic {
    &__row {
      grid-template-columns: auto;
    }
  }

  // Slider
  .swiper {
    & .projects__info {
      position: relative;
      top: -4px;
      padding-top: 10px;
      opacity: 1;
      background-color: #7f8f9f;

      .swiper-slide__item {
        font-size: 10px;
      }

      .swiper-slide__title {
        font-size: 16px;
      }
    }
  }

  // slider-sandwich-panels
  .slider-sandwich-panels.slider {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  // delivered-card
  .delivered-card {
    padding: 0px;
    &__top {
      flex-wrap: wrap;
    }
    &__image-box {
      margin-right: auto;
      order: -1;
    }
    &__info {
      padding-left: 20px;
      padding-right: 20px;
    }
    &__title {
      margin-top: 10px;
    }
    &__list {
      margin-top: 10px;
    }
    &__bottom {
      flex-wrap: wrap;
      margin-top: 20px;
      padding: 20px;
      padding-top: 0;
    }
    &__left {
      margin-top: 12px;
      width: 100%;
    }
    &__right {
      order: -1;
    }
    &__btn {
      width: 100%;
    }
  }

  // manufacture
  .manufacture {
    &__top {
      margin-bottom: 110px;
      flex-wrap: wrap;
    }
    &__title-box {
      flex-basis: 100%;
      padding-right: 0px;
    }
    &__header {
      margin-right: 0;
    }
    &__header + .manufacture__descr {
      display: block;
      margin-right: 10px;
      margin-top: 30px;
    }
    &__descr-box {
      display: none;
    }
    &__image-box {
      flex-basis: 100%;
      margin-top: 20px;
      & img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &__middle {
      margin-bottom: 103px;
    }
    &__lists {
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      text-align: center;
      & .manufacture__list:first-child {
        margin-right: 0px;
        max-width: 269px;
        padding-bottom: 20px;
      }
      & .manufacture__list:nth-child(2) {
        padding-left: 0px;
        padding-top: 30px;
        border-top: 1px solid #cacaca;
        border-left: none;
      }
      & .manufacture__li:not(:last-child) {
        margin-bottom: 0px;
      }
    }
    &__round {
      height: 300px;
      width: 300px;
      left: 50%;
    }
    &__bottom {
      flex-wrap: wrap;
    }
    &__info {
      flex-basis: 100%;
    }
    &__map {
      flex-basis: 100%;
    }
  }

  .custom-select {
    &__body {
      width: 100%;
    }
  }

  .modal-form-thanks {
    &.modal-form-thanks__visible {
      & .modal-form-thanks__body {
        height: 100%;
      }
    }
    &__body {
      width: 100%;
      height: 0%;
      top: 59px;
      position: absolute;
    }
    &__title {
      color: #ffffff;
      font-size: 30px;
      margin-bottom: 40px;
    }
  }

  // Pages css:

  // designing-technical-support.html
  // abouts
  .abouts {
    padding-top: 30px;
    padding-bottom: 80px;

    &__content {
      flex-wrap: wrap;
    }

    &__item {
      flex-basis: 100%;
    }

    &__item:nth-child(odd) {
      margin-right: 20px;
    }

    &__item:not(:last-child) {
      margin-bottom: 20px;
    }

    &__title {
      margin-bottom: 20px;
    }
  }

  // run-systems.html
  .run-systems {
    // offers
    .offers {
      padding-top: 60px;
      padding-bottom: 60px;

      .area {
        display: flex;
        flex-wrap: wrap;

        &__left {
          flex-basis: 100%;
        }

        &__right {
          flex-basis: 100%;
        }

        &__header {
          margin-bottom: 20px;
        }

        &__header + .area__image-box {
          display: block;
          margin-bottom: 30px;
        }

        &__list {
          max-width: 100%;
        }

        &__list-laptop {
          display: none;
        }

        &__list-box {
          padding-left: 0px;
        }

        &__item {
          margin-left: 20px;
        }

        &__image-box {
          display: none;
        }
      }

      // resist
      .resist {
        &__header {
          margin-bottom: 30px;
        }

        &__descr-box {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        &__descr {
          flex-basis: 100%;
        }

        &__descr:first-child {
          padding-right: 0;
          margin-bottom: 20px;
        }

        &__br {
          display: block;
        }
      }

      // fireresist
      .fireresist {
        display: flex;
        flex-wrap: wrap;

        &__header {
          margin-bottom: 30px;
        }

        &__header + .fireresist__image-box {
          display: block;
        }

        &__left {
          flex-basis: 100%;
          padding-right: 0px;
        }

        &__right {
          flex-basis: 100%;
          display: flex;
          flex-direction: column;
        }

        &__image-box {
          display: none;
          flex-basis: auto;
          flex-shrink: 0;
          max-width: 50%;
          margin-bottom: 30px;
        }
      }

      // economy
      .economy {
        &__header {
          margin-bottom: 30px;
        }

        &__descr-box {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        &__descr {
          flex-basis: 100%;
        }

        &__descr:first-child {
          padding-right: 0;
          margin-bottom: 20px;
        }
      }

      // individual
      .individual {
        flex-wrap: wrap;

        &__header {
          margin-bottom: 30px;
        }

        &__header + .individual__image-box {
          display: block;
        }

        &__left {
          display: none;
        }

        &__right {
          flex-basis: 100%;
          padding-left: 0;

          & .individual__descr {
            display: none;
          }

          & .individual__list {
            display: none;
          }
        }

        &__bottom {
          padding-top: 30px;
          display: flex;
          flex-wrap: wrap;

          &-right {
            flex-basis: 100%;
          }

          &-left {
            flex-basis: 100%;
          }
        }
      }

      // roofs
      .roofs {
        flex-wrap: wrap;
        &__left {
          flex-basis: 100%;
          padding-right: 0px;
          margin-bottom: 60px;
        }

        &__right {
          flex-basis: 100%;
          padding-left: 0px;
        }

        &__list {
          padding-right: 0px;
          line-height: 135%;
        }

        &__image-box {
          margin-bottom: 30px;
        }
      }

      & > * + * {
        margin-top: 60px;
      }
    }
  }

  // steel-frames.html
  .steel-frames {
    & > * + * {
      margin-top: 60px;
    }
    .description-inner {
      &__block {
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      &__left {
        flex-basis: 100%;
        padding-right: 0px;
        margin-bottom: 20px;
      }
      &__right {
        flex-basis: 100%;
        padding-right: 0px;
      }
    }

    .buildings {
      &__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }
      &__item {
        margin: 0;
      }
      &__item:not(:last-child) {
        margin-right: 0px;
      }
      &__item:last-child {
        padding-top: 32px;
      }
    }

    // .catalog {
    //   &__body {
    //     font-size: 16px;
    //     line-height: 135%;
    //   }
    // }

    .bvz-links {
      &__item:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  // bvz.html (Быстро-возводимые здания)
  .bvz {
    .products {
      &__item {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 40px;
      }
      &__item:not(:first-child) {
        padding-top: 40px;
      }
      &__left {
        padding-right: 0px;
      }
      &__center {
        display: none;
      }
      &__right {
        order: -1;
        margin-bottom: 30px;
      }
      &__link-box {
        padding-right: 87px;
        margin-bottom: 20px;
      }
      &__link-box + .products__descr {
        display: block;
      }
      &__image {
        width: 100%;
        height: 100%;
      }
    }

    // slider
    .slider {
      margin-bottom: 80px;
      margin-top: 20px;
    }
  }

  // single-news.html
  .single-news-page {
    & > * + * {
      margin-top: 80px;
    }
    & > :last-child {
      margin-bottom: 100px;
    }
    // single-news
    .single-news {
      &__content {
        flex-wrap: wrap;
      }
      &__left {
        flex-basis: 300px;
      }
      &__right {
        padding-left: 0px;
      }
      &__title {
        margin-top: 15px;
      }
      &__text {
        margin-top: 30px;
      }
      &__link {
        margin-top: 50px;
      }
      &__date {
        margin-top: 30px;
      }
    }
  }

  // news-page.html

  .news-page {
    & > * + * {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    // news list
    .news {
      padding-top: 0;
      padding-bottom: 0;
      &__link {
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: $color-normal;
          transition: ease 0.3s;
        }
      }
    }
    // subscribe
    .subscribe {
      &__title {
        max-width: none;
      }
    }
  }

  // contacts.html page
  .contacts-page {
    & > * + * {
      margin-top: 80px;
    }
    // location
    .location {
      padding: 50px 0;
      background-color: #004289;
      &__header,
      &__tel,
      &__mail,
      &__address,
      &__social {
        font-style: normal;
        color: $color-white;
      }
      &__content {
        display: flex;
        flex-wrap: wrap;
      }
      &__left {
        flex-basis: 100%;
        flex-shrink: 0;
      }
      &__center {
        flex-basis: 100%;
        margin-top: 40px;
        flex-shrink: 0;
        padding-right: 20px;
        & :nth-child(2) {
          margin-top: 20px;
        }
        & :nth-child(3) {
          margin-top: 20px;
        }
        & :nth-child(4) {
          margin-top: 56px;
        }
        & :nth-child(5) {
          margin-top: 30px;
        }
      }
      &__right {
        flex-basis: 100%;
        flex-grow: 1;
        margin-top: 40px;
      }
    }
    // managers
    .managers {
      &__table {
        margin-top: 30px;
      }
      &__table-title {
        margin-bottom: 40px;
      }
      &__row {
        display: flex;
        flex-wrap: wrap;
        border-top: none;
      }
      &__left {
        flex-basis: 100%;
        padding-right: 0px;
        padding-bottom: 20px;
      }
      &__right {
        flex-basis: 894px;
      }
      &__item {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 0;
      }
      &__item:first-child {
        padding-top: 20px;
        border-top: 1px solid $color-normal;
      }
      &__item > * + * {
        margin-top: 20px;
      }
      &__link {
        display: unset;
      }
      &__name {
        display: none;
      }
    }
  }

  // 404.html
  .page404 {
    margin-top: 50px;
    // error 404 banner
    .error404 {
      &__content {
        padding: 50px 20px;
      }
      &__header {
        margin-bottom: 30px;
      }
      &__message {
        margin-bottom: 40px;
      }
      &__buttons {
        display: flex;
        flex-wrap: wrap;
        & :first-child {
          margin-right: 0px;
          margin-bottom: 20px;
        }
      }
      &__btn {
        flex-basis: 100%;
      }
    }

    .page-links {
      margin-top: 60px;
      margin-bottom: 100px;
    }
  }

  // privacy.html
  .privacy-page {
    // privacy
    .privacy {
      &__title:not(:first-child) {
        margin-top: 60px;
      }
    }
    // page-links
    .page-links {
      margin-top: 60px;
      margin-bottom: 100px;
    }
  }

  // search.html
  .page-inner__search {
    padding-bottom: 30px;
  }

  .search-page {
    .search {
      & .page-links {
        &__link {
          font-size: 16px;
        }
      }
      &__content {
        flex-wrap: wrap;
      }
      &__right {
        order: -1;
        margin-left: -10px;
        margin-bottom: 30px;
      }
      &__left {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
      }
      &__input {
        width: 100%;
        margin-right: 0;
      }
      &__btn {
        width: 100%;
        max-width: initial;
        margin-top: 10px;
      }
    }
    // search-result
    .search-result {
      margin-top: 40px;
      margin-bottom: 100px;
      &__list {
        margin-top: 20px;
      }
      &__item--none {
        padding: 80px 0;
      }
      &__content {
        flex-wrap: wrap;
      }
      &__left {
        flex-basis: 100%;
        margin-right: 0px;
      }
      &__right {
        margin-top: 20px;
        flex-basis: 100%;
      }
      &__title {
        margin-bottom: 15px;
      }
      &__image-box {
        width: 100%;
        height: 193px;
      }
    }
  }

  // about.html
  .about-page {
    // inner
    .about-inner {
      background-image: none;
      margin-bottom: 60px;
      &__content {
        flex-wrap: wrap;
      }
      &__left {
        flex-basis: 100%;
        padding-right: 0px;
      }
      &__right {
        order: -1;
        flex-basis: 100%;
        margin-bottom: 30px;
      }
      &__image-box {
        width: 100%;
      }
      &__image {
        width: 100%;
      }
    }
    // stats
    .stats {
      margin-bottom: 80px;
      &__grid {
        grid-template-columns: repeat(1, 1fr);
      }
      &__area {
        flex-direction: column;
        flex-wrap: initial;
        flex-basis: initial;
        padding-bottom: 40px;
      }
      &__area:not(:first-child) {
        padding-left: 0px;
      }
      &__area:not(:last-child) {
        border-right: none;
        &::before {
          content: "";
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 200px;
          height: 1px;
          background-color: $color-border;
        }
      }
    }
    // more-about
    .more-about {
      margin-bottom: 80px;
      &__content {
        flex-wrap: wrap;
      }
      &__left {
        flex-basis: 100%;
        padding-right: 0px;
        margin-bottom: 80px;
      }
      &__right {
        flex-basis: 100%;
        padding-right: 0px;
      }
      &__descr {
        margin-top: 20px;
      }
      &__link {
        margin-top: 30px;
      }
      & .text-blue {
        position: relative;
        border-bottom: 1px solid;
      }
    }
    // mission
    .mission {
      padding: 60px 0;
      &__content {
        flex-wrap: wrap;
        & > .mission__header {
          display: block;
          margin-bottom: 40px;
        }
      }
      &__left {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 60px;
        order: 2;
        padding-right: 0px;
      }
      &__right {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        padding-left: 0px;
        padding-right: 0px;
      }
      &__part:nth-child(1) {
        padding-right: 0px;
      }
      &__header {
        display: none;
      }
      &__descr {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #255f9d;
      }
      &__part:nth-child(2) p:last-child {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
      }
      &__descr:last-child {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
      }
    }
    // values
    .values {
      margin-bottom: 60px;
      padding: 60px 0;
      &__header {
        margin-bottom: 40px;
      }
      &__content {
        flex-wrap: wrap;
      }
      &__item {
        flex-basis: 100%;
        padding-right: 0px;
      }
      &__item:not(:last-child) {
        margin-bottom: 60px;
      }
    }
    // benefits
    .benefits {
      padding-bottom: 60px;
    }

    .page-links {
      margin-bottom: 80px;
    }
  }

  // product-page.html
  .product-page {
    // product
    .product {
      margin-bottom: 60px;
      &__right {
        flex-basis: 100%;
        order: -1;
        flex-grow: 1;
        margin-bottom: 60px;
        padding-left: 0px;
      }
      &__left {
        flex-basis: 100%;
        padding-right: 0px;
      }
      &__title {
        margin-bottom: 20px;
      }
      &__descr {
        margin-bottom: 0px;
      }
      &__characteristic {
        display: none;
      }
      &__btn {
        display: none;
      }
      &__laptop {
        flex-basis: 100%;
        margin-top: 60px;
        .product__characteristic {
          display: block;
        }
        .product__btn {
          margin-top: 40px;
          width: 100%;
          display: inline-block;
        }
      }
      &__image {
        width: 100%;
      }
    }
    // catalog
    .catalog {
      margin-bottom: 60px;
    }
    // components
    .components {
      margin-bottom: 60px;
      &__content {
        grid-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
      }
      &__item {
        padding: 20px;
      }
      &__item:first-child {
        & .components__descr {
          padding-right: 0px;
        }
      }
      &__item:nth-child(2) {
        & .components__descr {
          padding-right: 0px;
        }
      }
      &__title {
        margin-bottom: 10px;
      }
      &__descr {
        margin-bottom: 20px;
        padding-right: 0px;
      }
    }
    // tech-info
    .tech-info {
      margin-bottom: 60px;
    }
    // use-areas
    .use-areas {
      margin-bottom: 60px;
      &__descr {
        margin-top: 20px;
      }
      &__content {
        flex-wrap: wrap;
      }
      &__left {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
      }
      &__right {
        width: 100%;
        margin-top: 30px;
        padding-left: 0;
      }
      &__top {
        flex-basis: 100%;
        padding-bottom: 20px;
        padding-right: 0px;
      }
      &__bottom {
        flex-basis: 100%;
        padding-top: 0px;
      }
      & .page-links__list {
        & .page-links__item {
          flex-basis: 100%;
          margin-top: 20px;
        }
      }
    }
    .slider-sandwich-panels {
      margin-bottom: 80px;
    }
  }

  // project-page.html
  .project-page {
    // project
    .project {
      min-height: auto;
      height: auto;
      margin-bottom: 80px;
      &__content {
        flex-wrap: wrap;
      }
      &__left {
        flex-basis: 100%;
      }
      &__right {
        flex-basis: 100%;
        max-width: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      &__row {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 20px;
        padding-top: 20px;
      }
      &__key {
        font-size: 16px;
        margin-bottom: 5px;
      }
      &__value {
        font-size: 16px;
      }
    }
    // about-project
    .about-project {
      margin-bottom: 80px;
      &__header {
        margin-bottom: 30px;
      }
      &__descr {
        max-width: none;
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 120%;
      }
      .slider {
        margin-bottom: 60px;
        .projects__arrows-btns {
          margin: auto;
        }
      }
      &__question {
        flex-basis: 100%;
        padding-right: 0px;
      }
      &__answer {
        flex-basis: 100%;
        margin-top: 60px;
        padding-right: 0px;
        padding-left: 0px;
      }
      &__result {
        flex-wrap: wrap;
        margin-top: 60px;
        padding: 60px 10px;
        & .about-project__title {
          margin-bottom: 20px;
        }
      }
      &__left {
        flex-basis: 100%;
        padding-right: 0px;
      }
      &__right {
        flex-basis: 100%;
        margin-top: 30px;
      }
      &__title {
        margin-bottom: 20px;
      }
      &__video-box {
        min-height: none;
      }
    }
    // delivered-products
    .delivered-products {
      margin-bottom: 100px;
      &__header {
        margin-bottom: 30px;
      }
    }

    .delivered-products__list {
      grid-gap: 40px;
      grid-template-columns: repeat(1, 1fr);
    }
    // slider
    .slider {
      margin-bottom: 100px;
      &__header {
        margin-bottom: 30px;
      }
    }
  }

  // collaboration-page.html
  .collaboration-page {
    .collaboration {
      padding-top: 40px;
      padding-bottom: 40px;
      &__content {
        flex-wrap: wrap;
      }
      &__left {
        flex-basis: 100%;
        padding-right: 0px;
      }
      &__right {
        flex-basis: 100%;
        margin-top: 30px;
        padding-right: 0px;
      }
    }
    // information
    .information {
      padding-top: 60px;
      padding-bottom: 60px;
      &__content {
        flex-wrap: wrap;
      }
      &__left {
        flex-basis: 100%;
        padding-right: 0px;
      }
      &__right {
        margin-top: 30px;
        flex-basis: 100%;
      }
      &__image {
        width: 100%;
        height: 100%;
      }
      &__descr:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    // info-lists
    .info-lists {
      &__content {
        flex-wrap: wrap;
      }
      &__left {
        flex-basis: 100%;
        padding-right: 0;
      }
      &__right {
        flex-basis: 100%;
        margin-top: 60px;
        padding-right: 0px;
      }
      &__list {
        margin-top: 20px;
      }
    }
    // descriptions
    .descriptions {
      padding-top: 60px;
      padding-bottom: 60px;
      &__content {
        flex-wrap: wrap;
      }
      &__left {
        flex-basis: 100%;
        padding-right: 0px;
      }
      &__right {
        flex-basis: 100%;
        margin-top: 60px;
        padding-right: 0px;
      }
    }
    // collaboration-form
    .collaboration-form {
      margin-bottom: 100px;
    }
  }

  // history-page
  .history-page {
    .history-inner {
      margin-bottom: 80px;
    }
    // timeline
    .timeline-block {
      margin-bottom: 80px;
    }
    .timeline {
      margin: {
        left: 0;
      }
      h3 {
        top: 12px;
        left: 100px;
        z-index: 4;
        font-size: 16px;
      }
      section.year {
        section {
          ul:first-of-type {
            padding: 50px 0 0 90px;
            max-width: initial;
            &::after {
              left: 5px;
            }
            &::before {
              left: 24px;
            }
          }
        }
      }
      div:after {
        left: 25px;
      }
      & section.year:first-child {
        & section {
          & > ul > li {
            position: relative;
            top: 0px;
          }
        }
      }
    }
    // page-links
    .page-links {
      margin-bottom: 100px;
    }
  }

  // Career page
  .career-page {
    .career-inner {
      padding-top: 40px;
      padding-bottom: 40px;
      &__content {
        flex-wrap: wrap;
      }
      &__left {
        flex-basis: 100%;
        padding-right: 0px;
      }
      &__right {
        flex-basis: 100%;
        margin-top: 30px;
        padding-right: 0px;
      }
    }
    // stats
    .stats {
      margin-top: 40px;
      margin-bottom: 40px;
      &__grid {
        grid-template-columns: repeat(1, 1fr);
      }
      &__area {
        flex-direction: column;
        flex-wrap: initial;
        flex-basis: initial;
        padding-bottom: 40px;
      }
      &__area:not(:first-child) {
        padding-left: 0px;
      }
      &__area:not(:last-child) {
        border-right: none;
        &::before {
          content: "";
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 200px;
          height: 1px;
          background-color: $color-border;
        }
      }
    }
    // career-feature
    .career-feature {
      margin-top: 80px;
      margin-bottom: 80px;
      &__title {
        margin-bottom: 30px;
        margin-right: 0px;
      }
      &__grid {
        grid-template-columns: repeat(1, 1fr);
      }
      &__item > * + * {
        margin-top: 29px;
      }
      &__item:nth-child(odd) {
        padding-right: 0px;
      }
      &__item:nth-child(even) {
        padding-right: 0px;
      }
      &__item:not(:first-child) {
        margin-top: 0px;
      }
      &__item:nth-child(2n + 3) {
        margin-top: 0px;
      }
      &__item:nth-child(2n + 4) {
        margin-top: 0px;
      }
      &__item:nth-child(1) {
        margin-top: 0px;
      }
      &__item:nth-child(2) {
        margin-top: 20px;
      }
      &__item:nth-child(3) {
        margin-top: 60px;
      }
      &__item:nth-child(4) {
        margin-top: 30px;
      }
    }
  }

  // manufacture-page
  .manufacture-page {
    .manufacture-inner {
      &__content {
        flex-wrap: wrap;
      }
      &__top {
        display: none;
      }
      &__left {
        flex-basis: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 6px;
        & .manufacture-inner__descr:first-child {
          margin-bottom: 30px;
          margin-right: 0px;
        }
        & .manufacture-inner__descr:nth-child(2) {
          margin-bottom: 20px;
        }
        & .manufacture-inner__descr:not(:first-child) {
          margin-right: 17px;
        }
      }
      &__right {
        flex-basis: 100%;
        margin-top: 10px;
        margin-bottom: 40px;
      }
      &__image-box {
        max-width: 262px;
      }
    }
    // manufactures
    .manufactures {
      padding-top: 80px;
      padding-bottom: 80px;
      & .manufacture:first-child {
        margin-bottom: 80px;
      }
      & .manufacture:nth-child(2) {
        padding-top: 80px;
        & .manufacture__top {
          margin-bottom: 150px;
        }
        & .manufacture__middle {
          margin-bottom: 143px;
        }
      }
    }
    // page-links
    .page-links {
      margin-bottom: 100px;
    }
  }

  // docs
  .docs-page {
    .docs-options {
      &__content {
        flex-wrap: wrap;
      }
      &__left {
        flex-basis: 100%;
        margin-top: 40px;
      }
      &__right {
        order: -1;
        flex-basis: 100%;
      }
      &__form {
        width: 100%;
      }
      &__input {
        width: 100%;
      }
      &__btn {
        width: 100%;
        margin-top: 10px;
      }
    }

    .docs {
      margin-bottom: 100px;
      .catalog {
        &__body {
          flex-wrap: wrap;
        }
        &__link-box {
          flex-basis: 100%;
          max-width: 100%;
          margin-bottom: 20px;
        }
        &__type {
          margin-left: 0px;
        }
      }
      .pagination {
        margin-top: 40 px;
      }
    }
  }

  .projects-page {
    .projects {
      &__list {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        grid-row-gap: 40px;
        margin-top: 40px;
      }
      &__title {
        color: #585858;
        font-size: 16px;
      }
      &__title-box {
        margin: 0;
        margin-top: 10px;
        opacity: 1;
        color: #9f9f9f;
      }
      &__info {
        background-color: #ffffff;
      }
      &__filters {
        flex-wrap: wrap;
      }
      &__filter {
        flex-basis: calc(50% - 10px);
      }
      &__filter .custom-select__body {
        min-width: 100%;
        padding: 15px;
      }
      &__reset {
        margin-top: 30px;
        margin-left: 0;
        justify-content: flex-start;
        flex-basis: 100%;
      }
      &__options {
        margin-top: 60px;
      }
    }
    .catalog {
      margin-top: 80px;
      margin-bottom: 100px;
    }
  }

  // sandvich-panels-page.html
  .sandvich-panels-page {
    .sandvich-panels-inner {
      padding-top: 15px;
      padding-bottom: 15px;
      &__content {
        display: grid;
        grid-template-columns: 100%;
      }
      &__left {
        padding-right: 0;
      }
      &__middle {
        display: none;
      }
      &__right {
        display: none;
      }
    }

    .sandvich-panels-table {
      &__content {
        margin-top: 60px;
        flex-wrap: wrap;
      }
      &__left {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 20px;
      }
      &__list {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
      }
    }

    .catalog {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    .sandvich-panels-footer {
      display: block;
      &__content {
        display: flex;
        flex-wrap: wrap;
      }
      &__column {
        flex-basis: 100%;
      }
      &__column:nth-child(2) {
        margin-top: 40px;
      }
      &__title {
        margin-bottom: 20px;
      }
      &__info:nth-child(2) {
        margin-top: 40px;
      }
      &__info {
        padding-right: 20px;
      }
    }
  }
  // <-- media small end -->
}
