.page-inner {
  padding-top: 150px;
  padding-bottom: 100px;
}

.page-header {
  font-size: 64px;
  line-height: 83px;
  color: $color-header;
}

.page-title {
  font-size: $font-size-header;
  line-height: 120%;
  color: $color-header;
}

.description {
  font-size: 24px;
  color: $color-header;
  line-height: 120%;
}

.description-secondary {
  font-size: 18px;
  color: $color-normal;
  line-height: 140%;
}

.page-photo-description {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $bgc-mobile;
  &__content {
    display: flex;
  }
  &__left {
    flex: 50%;
  }
  &__right {
    flex: 50%;
    padding-left: 39px;
    padding-top: 50px;
    & * + * {
      margin-top: 50px;
    }
  }
  &__photo-box {
    height: 100%;
  }
  &__photo {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// designing-technical-support.html
// abouts

.abouts {
  padding-top: 150px;
  padding-bottom: 200px;
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    flex-basis: 350px;
  }
  &__title {
    margin-bottom: 30px;
  }
}

// run-systems.html
.run-systems {
  // offers
  .offers {
    padding-top: 150px;
    padding-bottom: 150px;
    // area
    .area {
      display: flex;
      &__header {
        margin-bottom: 50px;
      }
      &__header + .area__image-box {
        display: none;
      }
      // &__descr {
      //   margin-bottom: 20px;
      // }
      &__left {
        flex-basis: 50%;
      }
      &__right {
        flex-basis: 50%;
      }
      &__list {
        max-width: 500px;
        list-style-type: disc;
      }
      &__list-laptop {
        display: none;
      }
      &__item:first-of-type {
        margin-top: 20px;
      }
    }
    // resist
    .resist {
      &__header {
        margin-bottom: 50px;
      }
      &__descr-box {
        display: flex;
        justify-content: space-between;
      }
      &__descr {
        flex-basis: 50%;
      }
      &__descr:first-child {
        padding-right: 90px;
      }
      &__br {
        display: none;
      }
    }
    // fireresist
    .fireresist {
      display: flex;
      &__header {
        margin-bottom: 50px;
      }
      &__header + .fireresist__image-box {
        display: none;
      }
      &__left {
        flex-basis: 50%;
        padding-right: 90px;
      }
      &__right {
        flex-basis: 50%;
      }
      &__descr-laptop {
        display: none;
      }
    }
    // economy
    .economy {
      &__header {
        margin-bottom: 50px;
      }
      &__descr-box {
        display: flex;
        justify-content: space-between;
      }
      &__descr {
        flex-basis: 50%;
      }
      &__descr:first-child {
        padding-right: 90px;
      }
    }
    // individual
    .individual {
      display: flex;
      &__header {
        margin-bottom: 50px;
      }
      &__header + .individual__image-box {
        display: none;
      }
      &__left {
        padding-right: 16px;
        flex-basis: 50%;
      }
      &__right {
        padding-left: 16px;
        flex-basis: 50%;
      }
      &__bottom {
        display: none;
      }
      &__list {
        padding-left: 20px;
        list-style-type: disc;
      }
    }
    // roofs
    .roofs {
      display: flex;
      &__left {
        flex-basis: 50%;
      }
      &__right {
        flex-basis: 50%;
      }
      &__image-box {
        margin-bottom: 50px;
      }
      &__title {
        margin-bottom: 20px;
      }
      &__list {
        padding-right: 90px;
        line-height: 140%;
        list-style-position: inside;
        list-style-type: disc;
      }
      &__item {
        margin-left: 10px;
      }
    }
    & > * + * {
      margin-top: 150px;
    }
  }
  .slider {
    margin-bottom: 200px;
    &__header {
      margin-bottom: 50px;
    }
    .projects__keys {
      padding-top: 30px;
    }
  }
}

// steel-frames.html
.steel-frames {
  & > * + * {
    margin-top: 100px;
  }

  .description-inner {
    background-color: $bgc-mobile;
    &__block {
      display: flex;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    &__left {
      flex-basis: 50%;
      // max-width: 83.33%;
      padding-right: 93px;
    }
    &__right {
      flex-basis: 50%;
      padding-right: 93px;
      // max-width: 83.33%;
    }
  }

  .buildings {
    &__list {
      display: flex;
    }
    &__item {
      flex-basis: 25%;
    }
    &__item:not(:last-child) {
      margin-right: 22px;
    }
    &__item:hover {
      background-color: $bgc-mobile;
    }
    &__item:last-child {
      padding-top: 33px;
      & .build-card__top {
        margin-bottom: 43px;
        display: flex;
        justify-content: center;
      }
    }
  }

  .build-card {
    padding-bottom: 30px;
    border: 1px solid #585858;
    &__top {
      margin-bottom: 53px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__bottom {
      padding-left: 20px;
      padding-right: 20px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__list {
      font-size: 14px;
      line-height: 140%;
    }
  }

  .catalog {
    &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 19px;
      padding-bottom: 15px;
      border-top: 1px solid $color-normal;
      border-bottom: 1px solid $color-normal;
      font-size: 18px;
      line-height: 140%;
    }
    &__link {
      color: $color-hover;
    }
    &__download-link {
      color: $color-header;
    }
  }

  .slider {
    margin-bottom: 200px;
    &__header {
      margin-bottom: 50px;
    }
    .projects__keys {
      padding-top: 30px;
    }
  }
}

// bvz.html (Быстро-возводимые здания)
.bvz {
  // products
  .products {
    &__item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-bottom: 75px;
    }
    &__item:not(:first-child) {
      padding-top: 75px;
    }
    &__item:not(:last-child) {
      border-bottom: 1px solid $color-border;
    }
    &__left {
      padding-right: 150px;
    }
    &__center {
      padding-right: 150px;
    }
    &__link-box + .products__descr {
      display: none;
      padding-right: 10px;
    }
    &__link::after {
      bottom: 3.5px;
    }
  }
  // slider
  .slider {
    margin-top: 125px;
    margin-bottom: 200px;
    & .slider__header {
      margin-bottom: 30px;
    }
    & .projects__keys {
      padding-top: 0;
      margin-top: 50px;
      justify-content: center;
    }
    #bvz__swiper {
      & .swiper-slide__body {
        min-height: 187px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid $color-border;
        & h3 {
          margin-bottom: 10px;
        }
        & ul {
          font-size: 14px;
        }
      }
      & .swiper-slide__body:hover {
        background-color: $bgc-mobile;
      }
    }
  }
}

// 404.html
.page404 {  
  // error 404 banner
  margin-top: 130px;
  .error404 {
    &__content {
      padding: 40px 600px 50px 50px;
      background-color: $bgc-mobile;
    }
    &__header {
      margin-bottom: 80px;
    }
    &__message {
      margin-bottom: 65px;
    }
    &__buttons {
      & :first-child {
        margin-right: 20px;
      }
    }
  }

  .page-links {
    margin-top: 100px;
    margin-bottom: 200px;
  }
}
