@import "./common.scss";
// Pages css:

// designing-technical-support.html
// abouts
.abouts {
  padding-top: 150px;
  padding-bottom: 200px;
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    flex-basis: 350px;
  }
  &__title {
    margin-bottom: 30px;
  }
}

// run-systems.html
.run-systems {
  // offers
  .offers {
    padding-top: 150px;
    padding-bottom: 150px;
    // area
    .area {
      display: flex;
      &__header {
        margin-bottom: 50px;
      }
      &__header + .area__image-box {
        display: none;
      }
      &__left {
        flex-basis: 50%;
      }
      &__right {
        flex-basis: 50%;
      }
      &__list {
        max-width: 500px;
        list-style-type: disc;
      }
      &__list-box {
        padding-left: 20px;
      }
      &__list-laptop {
        display: none;
      }
      &__item:first-of-type {
        margin-top: 20px;
      }
    }
    // resist
    .resist {
      &__header {
        margin-bottom: 50px;
      }
      &__descr-box {
        display: flex;
        justify-content: space-between;
      }
      &__descr {
        flex-basis: 50%;
      }
      &__descr:first-child {
        padding-right: 90px;
      }
      &__br {
        display: none;
      }
    }
    // fireresist
    .fireresist {
      display: flex;
      &__header {
        margin-bottom: 50px;
      }
      &__header + .fireresist__image-box {
        display: none;
      }
      &__left {
        flex-basis: 50%;
        padding-right: 90px;
      }
      &__right {
        flex-basis: 50%;
      }
      &__descr-laptop {
        display: none;
      }
    }
    // economy
    .economy {
      &__header {
        margin-bottom: 50px;
      }
      &__descr-box {
        display: flex;
        justify-content: space-between;
      }
      &__descr {
        flex-basis: 50%;
      }
      &__descr:first-child {
        padding-right: 90px;
      }
    }
    // individual
    .individual {
      display: flex;
      &__header {
        margin-bottom: 50px;
      }
      &__header + .individual__image-box {
        display: none;
      }
      &__left {
        padding-right: 16px;
        flex-basis: 50%;
      }
      &__right {
        padding-left: 16px;
        flex-basis: 50%;
      }
      &__bottom {
        display: none;
      }
      &__list {
        padding-left: 20px;
        list-style-type: disc;
      }
    }
    // roofs
    .roofs {
      display: flex;
      &__left {
        flex-basis: 50%;
      }
      &__right {
        flex-basis: 50%;
      }
      &__image-box {
        margin-bottom: 50px;
      }
      &__title {
        margin-bottom: 20px;
      }
      &__list {
        padding-right: 90px;
        line-height: 140%;
        list-style-position: inside;
        list-style-type: disc;
      }
      &__item {
        margin-left: 10px;
      }
    }
    & > * + * {
      margin-top: 150px;
    }
  }
  .slider {
    margin-bottom: 200px;
    &__header {
      margin-bottom: 50px;
    }
    .projects__keys {
      padding-top: 30px;
    }
  }
}

// steel-frames.html
.steel-frames {
  & > * + * {
    margin-top: 100px;
  }

  .description-inner {
    background-color: $bgc-mobile;
    &__block {
      display: flex;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    &__left {
      flex-basis: 50%;
      padding-right: 93px;
    }
    &__right {
      flex-basis: 50%;
      padding-right: 93px;
    }
  }

  .buildings {
    &__list {
      display: flex;
    }
    &__item {
      flex-basis: 25%;
    }
    &__item:not(:last-child) {
      margin-right: 22px;
    }
    &__item:last-child {
      padding-top: 33px;
      & .build-card__top {
        margin-bottom: 43px;
        display: flex;
        justify-content: center;
      }
    }
  }

  .build-card {
    padding-bottom: 30px;
    border: 1px solid #585858;
    &:hover .build-card__link {
      color: $color-hover;
    }
    &__top {
      margin-bottom: 53px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__bottom {
      padding-left: 20px;
      padding-right: 20px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__list {
      font-size: 14px;
      line-height: 140%;
    }
  }

  .slider {
    margin-bottom: 200px;
    &__header {
      margin-bottom: 50px;
    }
    .projects__keys {
      padding-top: 30px;
    }
  }
}

// bvz.html (Быстро-возводимые здания)
.bvz {
  // products
  .products {
    &__item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-bottom: 75px;
    }
    &__item:not(:first-child) {
      padding-top: 75px;
    }
    &__item:not(:last-child) {
      border-bottom: 1px solid $color-border;
    }
    &__left {
      padding-right: 150px;
    }
    &__center {
      padding-right: 150px;
    }
    &__link-box + .products__descr {
      display: none;
      padding-right: 10px;
    }
    &__link::after {
      bottom: 3.5px;
    }
  }
  // slider
  .slider {
    margin-top: 125px;
    margin-bottom: 200px;
  }
}

// single-news.html
.single-news-page {
  & > * + * {
    margin-top: 150px;
  }
  & > :last-child {
    margin-bottom: 200px;
  }
  // single-news
  .single-news {
    &__content {
      display: flex;
    }
    &__left {
      flex-basis: 385px;
      flex-shrink: 0;
    }
    &__right {
      padding-left: 226px;
    }
    &__title {
      margin-top: 20px;
    }
    &__text {
      margin-top: 50px;
    }
    &__link {
      margin-top: 100px;
    }
    &__time {
      font-size: 12px;
    }
  }
}

// news-page.html

.news-page {
  & > * + * {
    margin-top: 150px;
    margin-bottom: 200px;
  }
  // news list
  .news {
    padding-top: 0;
    padding-bottom: 0;
    &__pagination {
      margin-top: 50px;
    }
  }
  // subscribe
  .subscribe {
    &__title {
      max-width: 242px;
    }
  }
}

// contacts.html page
.contacts-page {
  & > * + * {
    margin-top: 150px;
  }
  // location
  .location {
    padding: 100px 0;
    background-color: #004289;
    &__header,
    &__tel,
    &__mail,
    &__address {
      font-style: normal;
      color: $color-white;
    }
    &__mail:hover {
      color: #b5c4d4;
    }
    &__content {
      display: flex;
    }
    &__left {
      flex-basis: 306px;
    }
    &__center {
      flex-basis: 305px;
      padding-right: 57px;
      & :nth-child(2) {
        margin-top: 18px;
      }
      & :nth-child(3) {
        margin-top: 18px;
      }
      & :nth-child(4) {
        margin-top: 52px;
      }
      & :nth-child(5) {
        margin-top: 46px;
      }
    }
    &__right {
      flex-basis: 589px;
    }
    &__map {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }
  }

  // managers
  .managers {
    &__table {
      margin-top: 100px;
      margin-bottom: 100px;
    }
    &__table-title {
      background-color: $bgc-mobile;
      padding: 19px 20px 16px;
      margin-bottom: 60px;
    }
    &__row {
      padding-top: 19px;
      padding-bottom: 60px;
      display: flex;
      border-top: 1px solid $color-normal;
    }
    &__row:last-child {
      padding-bottom: 0;
    }
    &__left {
      flex-basis: 306px;
      padding-right: 86px;
      padding-bottom: 20px;
    }
    &__right {
      flex-basis: 894px;
    }
    &__item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-top: 19px;
      padding-bottom: 16px;
      border-bottom: 1px solid $color-normal;
    }
    &__item:first-child {
      padding-top: 0;
    }
    &__mail {
      color: $color-hover;
      &:hover {
        @media (hover: hover) {
          text-decoration: underline;
        }
      }
    }
    &__link {
      display: none;
    }
  }
}

// 404.html
.page404 {
  // error 404 banner
  margin-top: 130px;
  .error404 {
    &__content {
      padding: 40px 600px 50px 50px;
      background-color: $bgc-mobile;
    }
    &__header {
      margin-bottom: 80px;
    }
    &__message {
      margin-bottom: 65px;
    }
    &__buttons {
      & :first-child {
        margin-right: 20px;
      }
    }
  }

  .page-links {
    margin-top: 100px;
    margin-bottom: 200px;
  }
}

// privacy.html
.privacy-page {
  // privacy
  .privacy {
    &__block {
      padding-right: 306px;
    }
    &__descr {
      margin-top: 20px;
    }
    &__title:not(:first-child) {
      margin-top: 100px;
    }
  }

  // page-links
  .page-links {
    margin-top: 100px;
    margin-bottom: 200px;
  }
}

//  search.html
.page-inner__search {
  padding-bottom: 30px;
}

.search-page {
  // search
  .search {
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__left {
      display: flex;
    }
    &__input {
      margin-right: 10px;
      width: 397px;
    }
    &__btn {
      max-width: 120px;
      min-width: 120px;
    }
    & .page-links {
      &__link {
        font-size: 18px;
      }
    }
  }
  // search-result
  .search-result {
    margin-top: 45px;
    margin-bottom: 120px;
    &__list {
      margin-top: 30px;
    }
    &__item {
      padding: 30px 0;
      border-bottom: 1px solid $color-border;
      border-top: 1px solid $color-border;
    }
    &__item--none {
      padding-top: 90px;
      padding-bottom: 97px;
      text-align: center;
    }
    &__content {
      display: flex;
    }
    &__left {
      margin-right: 164px;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__image-box {
      width: 243px;
      height: 156px;
    }
    &__img {
      width: 100%;
      height: 100%;
    }
  }
}

// about.html
.about-page {
  // inner
  .about-inner {
    margin-bottom: 100px;
    &__content {
      display: flex;
    }
    &__left {
      flex-basis: 50%;
      padding-right: 112px;
    }
    &__right {
      flex-basis: 50%;
    }
    &__descr {
      color: $color-normal;
    }
  }
  // stats
  .stats {
    margin-bottom: 150px;
    &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    &__area {
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
    &__area:not(:last-child) {
      border-right: 1px solid $color-border;
    }
    &__area:not(:first-child) {
      padding-left: 40px;
    }

    &__number {
      flex-basis: 100%;
      font-size: 48px;
      color: $color-header;
    }
    &__descr {
      flex-basis: 100%;
      max-width: 195px;
    }
  }
  // more-about
  .more-about {
    margin-bottom: 150px;
    &__content {
      display: flex;
    }
    &__left {
      flex-basis: 50%;
      padding-right: 150px;
    }
    &__right {
      flex-basis: 50%;
      padding-right: 150px;
    }
    &__descr {
      margin-top: 30px;
    }
    &__link {
      display: inline-block;
      margin-top: 25px;
    }
  }
  // mission
  .mission {
    padding: 150px 0;
    background-color: $color-hover;
    color: white;
    &__content {
      display: flex;
      & > .mission__header {
        color: $color-white;
        display: none;
      }
    }
    &__left {
      flex-basis: 50%;
      padding-right: 11px;
    }
    &__right {
      flex-basis: 50%;
      padding-left: 11px;
      padding-right: 80px;
    }
    &__header {
      color: $color-white;
      margin-bottom: 140px;
    }
    &__descr {
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid #255f9d;
    }
    &__part:nth-child(2) p:last-child {
      padding-bottom: 0px;
      margin-bottom: 0px;
      border-bottom: none;
    }
  }
  // values
  .values {
    margin-bottom: 200px;
    padding: 150px 0;
    background-color: $bgc-mobile;
    &__content {
      display: flex;
    }
    &__header {
      margin-bottom: 50px;
    }
    &__item {
      flex-basis: 33.333%;
      padding-right: 62px;
    }
    &__title {
      margin-bottom: 20px;
    }
  }
  // benefits
  .benefits {
    padding-top: 0;
    padding-bottom: 100px;
    &__item {
      margin-bottom: 22px;
    }
  }

  // page-links
  .page-links {
    margin-bottom: 200px;
  }
}

// product-page.html
.product-page {
  // product
  .product {
    margin-bottom: 100px;
    &__content {
      display: flex;
      flex-wrap: wrap;
    }
    &__left {
      flex-basis: 50%;
      padding-right: 11px;
    }
    &__right {
      flex-basis: 50%;
      padding-left: 214px;
    }
    &__laptop {
      .product__characteristic {
        display: none;
      }
      .product__btn {
        display: none;
      }
    }
    &__title {
      margin-bottom: 30px;
    }
    &__descr {
      margin-bottom: 50px;
    }
    &__characteristic {
      margin-bottom: 30px;
    }
    &__btn {
      padding: 22px 33px;
    }
  }
  // catalog
  .catalog {
    margin-bottom: 150px;
  }
  // components
  .components {
    margin-bottom: 150px;
    &__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      padding: 30px 40px 30px 30px;
      background-color: $bgc-mobile;
    }
    &__item:first-child {
      & .components__descr {
        padding-right: 11px;
      }
    }
    &__item:nth-child(2) {
      & .components__descr {
        padding-right: 26px;
      }
    }
    &__image-box {
      margin-top: auto;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__descr {
      margin-bottom: 30px;
      padding-right: 46px;
    }
  }
  // tech-info
  .tech-info {
    margin-bottom: 150px;
    &__header {
      margin-bottom: 30px;
    }
  }
  // use-areas
  .use-areas {
    margin-bottom: 150px;
    &__content {
      display: flex;
    }
    &__left {
      flex-basis: 50%;
      flex-shrink: 0;
    }
    &__right {
      width: 50%;
      max-height: 343px;
      padding-left: 203px;
    }
    &__descr {
      margin-top: 30px;
    }
    &__top {
      padding-bottom: 30px;
      border-bottom: 1px solid $color-border;
    }
    &__bottom {
      padding-top: 20px;
    }
    & .page-links__list {
      display: flex;
      flex-wrap: wrap;
      & .page-links__item {
        margin-top: 10px;
        flex-basis: 50%;
      }
    }
    &__slider {
      & .projects__keys {
        padding-top: 10px;
        & .custom-arrow {
          border: none;
          width: 24px;
          height: 14px;
        }
        & .custom-arrow__line {
          height: 1px;
          width: 100%;
          top: 50%;
          left: 0;
        }
        & .custom-arrow__upline-next {
          width: 7px;
          height: 1px;
          top: 4.5px;
          right: -0.5px;
          left: auto;
          transform: rotateZ(40deg);
        }
        & .custom-arrow__downline-next {
          width: 7px;
          height: 1px;
          bottom: 3.5px;
          right: -0.5px;
          left: auto;
          top: auto;
          transform: rotateZ(-40deg);
        }
        & .custom-arrow__upline-prev {
          width: 7px;
          height: 1px;
          top: 4.5px;
          right: auto;
          left: -0.5px;
          transform: rotateZ(-40deg);
        }
        & .custom-arrow__downline-prev {
          width: 7px;
          height: 1px;
          bottom: 3.5px;
          right: auto;
          left: -0.5px;
          top: auto;
          transform: rotateZ(40deg);
        }
      }
    }
  }

  .slider-sandwich-panels {
    margin-bottom: 200px;
  }
}

// project-page.html
.project-page {
  // project
  .project {
    min-height: 349px;
    height: 1px;
    margin-bottom: 150px;
    &__content {
      min-height: 100%;
      display: flex;
      background-color: #004289;
    }
    &__left {
      flex-basis: 50%;
    }
    &__right {
      flex-basis: 50%;
      max-width: 600px;
      display: flex;
      align-items: center;
      justify-content: left;
      padding-left: 50px;
    }
    &__image-box {
      width: 100%;
      height: 100%;
    }
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 3px;
      padding-top: 11px;
    }
    &__row:not(:last-child) {
      border-bottom: 1px solid #7f8f9f;
    }
    &__list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    &__key {
      color: #b5c4d4;
      font-size: 18px;
    }
    &__value {
      color: #ffffff;
      font-size: 18px;
      border-width: 0px;
    }
    &__link {
      transition: ease 0.3s;
      border-bottom: 1px solid #fff;
    }
  }
  // about-project
  .about-project {
    margin-bottom: 150px;
    &__header {
      margin-bottom: 45px;
    }
    &__descr {
      max-width: 792px;
      margin-bottom: 100px;
      font-size: 24px;
    }
    .slider {
      margin-bottom: 100px;
      .projects__arrows-btns {
        margin: auto;
      }
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
    }
    &__question {
      flex-basis: 50%;
      padding-right: 91px;
    }
    &__answer {
      flex-basis: 50%;
      padding-right: 76px;
    }
    &__result {
      display: flex;
      flex-basis: 100%;
      margin-top: 150px;
      padding: 70px;
      background-color: $bgc-mobile;
      & .about-project__title {
        margin-bottom: 35px;
      }
    }
    &__left {
      flex-basis: 50%;
      flex-shrink: 0;
      padding-right: 80px;
    }
    &__right {
      flex-basis: 50%;
    }
    &__title {
      margin-bottom: 30px;
    }
    &__video-box {
      width: 100%;
      height: 100%;
      min-height: 297px;
    }
  }
  // delivered-products
  .delivered-products {
    margin-bottom: 150px;
    &__header {
      margin-bottom: 50px;
    }
    &__list {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // slider
  .slider {
    margin-bottom: 200px;
    &__header {
      margin-bottom: 48px;
    }
  }
}

.delivered-products__list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

// collaboration-page.html
.collaboration-page {
  // collaboration
  .collaboration {
    background-color: #004289;
    padding-top: 100px;
    padding-bottom: 100px;
    &__content {
      display: flex;
    }
    &__left {
      flex-basis: 50%;
      padding-right: 91px;
    }
    &__right {
      flex-basis: 50%;
      padding-right: 149px;
    }
    &__descr {
      color: #ffffff;
    }
  }
  // information
  .information {
    padding-top: 150px;
    padding-bottom: 150px;
    &__content {
      display: flex;
    }
    &__left {
      flex-basis: 50%;
      padding-right: 61px;
    }
    &__right {
      flex-basis: 50%;
    }
    &__descr:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  // info-lists
  .info-lists {
    &__content {
      display: flex;
    }
    &__left {
      flex-basis: 50%;
      padding-right: 70px;
    }
    &__right {
      flex-basis: 50%;
      padding-right: 40px;
    }
    &__title {
      color: #585858;
    }
    &__list {
      margin-left: 20px;
      margin-top: 30px;
      list-style-type: disc;
    }
    &__item:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  // descriptions
  .descriptions {
    padding-top: 150px;
    padding-bottom: 150px;
    &__content {
      display: flex;
    }
    &__left {
      flex-basis: 50%;
      padding-right: 60px;
      & .descriptions__descr {
        color: #585858;
      }
    }
    &__right {
      flex-basis: 50%;
      padding-right: 40px;
      & .descriptions__descr:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  // collaboration-form
  .collaboration-form {
    margin-bottom: 200px;
    background-color: #ffffff;
    &__content {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      background: #ffffff;
      & .request__descr {
        margin-right: 74px;
      }
      & .form__btn {
        background-color: #7f8f9f;
        &:hover {
          background-color: $color-hover-light;
          color: $color-black;
        }
      }
    }
  }
}

// history-page.html
.history-page {
  .history-inner {
    margin-bottom: 100px;
    &__descr {
      margin-top: 20px;
    }
  }

  .timeline-block {
    margin-bottom: 150px;
  }

  // timeline
  div.item {
    display: flex;
    flex: auto;
    // overflow-y: auto;
    padding: 0rem;
  }

  .timeline {
    position: relative;
    display: table;
    height: 100%;
    margin: {
      left: auto;
      right: auto;
      top: 23px;
    }
    div {
      &:after {
        content: "";
        width: 2px;
        position: absolute;
        top: -4px;
        bottom: 0rem;
        left: 60px;
        z-index: 1;
        background: #cacaca;
      }
    }
    h3 {
      position: absolute;
      top: 14px;
      left: -105px;
      color: #c09a5d;
      margin: 0;
      font: {
        size: 18px;
        weight: 400;
      }
    }
    section.year {
      position: relative;
      &:first-child section {
        margin-top: -1.3em;
        padding-bottom: 0px;
      }
      section {
        position: relative;
        padding-bottom: 1.25em;
        margin-bottom: 109px;
        h4 {
          position: absolute;
          bottom: 0;
          font: {
            size: 0.9em;
            weight: 400;
          }
          line-height: 1.2em;
          margin: 0;
          padding: 0 0 0 89px;
          color: #c5c5c5;
        }
        ul {
          list-style-type: none;
          padding: 10px 0 0 125px;
          margin: -1.35rem 0 1em;
          max-width: 650px;
          font-size: 1em;
          &:last-child {
            margin: {
              bottom: 0;
            }
          }
          &:first-of-type:after {
            content: "";
            width: 39px;
            height: 39px;
            background: #fff;
            border: 2px solid #c09a5d;
            border-radius: 50%;
            position: absolute;
            left: 39px;
            top: 3px;
            z-index: 2;
          }
          &::before {
            content: "";
            position: absolute;
            top: 23px;
            left: 59px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            z-index: 5;
            background-color: #c09a5d;
          }
          li {
            margin-left: 0.5rem;
            &:not(:first-child) {
              margin-top: 0.5rem;
            }
            span.price {
              color: mediumturquoise;
              font-weight: 500;
            }
          }
        }
      }
    }
    & section.year:last-child {
      & section {
        margin-bottom: 22px;
        & > ul > li:first-child img {
          width: 129px;
        }
      }
    }
    & section.year:first-child {
      & section {
        & > ul > li {
          position: relative;
          top: -42px;
        }
      }
    }
  }

  // page-links
  .page-links {
    margin-bottom: 200px;
  }
}

// Career page
.career-page {
  .career-inner {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #004289;
    &__content {
      display: flex;
    }
    &__left {
      flex-basis: 50%;
      padding-right: 91px;
    }
    &__right {
      flex-basis: 50%;
      padding-right: 199px;
    }
    &__descr {
      color: #ffffff;
    }
  }
  // stats
  .stats {
    margin-top: 100px;
    margin-bottom: 50px;
    &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
    &__area {
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
    &__area:not(:last-child) {
      border-right: 1px solid $color-border;
    }
    &__area:not(:first-child) {
      padding-left: 40px;
    }

    &__number {
      flex-basis: 100%;
      font-size: 48px;
      color: $color-header;
    }
    &__descr {
      flex-basis: 100%;
      max-width: 195px;
    }
  }
  // career-feature
  .career-feature {
    margin-top: 150px;
    margin-bottom: 200px;
    &__title {
      margin-bottom: 50px;
      margin-right: 166px;
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__descr {
      color: #232323;
    }
    &__item > * + * {
      margin-top: 20px;
    }
    &__item:nth-child(odd) {
      padding-right: 91px;
    }
    &__item:nth-child(even) {
      padding-right: 69px;
    }
    &__item:nth-child(2n + 3) {
      margin-top: 150px;
    }
    &__item:nth-child(2n + 4) {
      margin-top: 150px;
    }
    &__mail {
      color: #004289;
    }
    &__hh {
      & > div {
        max-width: 100% !important;
        width: 100% !important;
        height: 247px !important;
        min-height: 247px !important;
        & > div[class^="hh-footer"] {
          display: none !important;
        }
      }
    }
  }
}

// manufacture-page
.manufacture-page {
  .manufacture-inner {
    background-color: #004289;
    &__content {
      display: flex;
    }
    &__top {
      display: none;
    }
    &__left {
      padding-top: 100px;
      padding-bottom: 100px;
      flex-basis: 50%;
      & .manufacture-inner__descr:first-child {
        margin-bottom: 50px;
        margin-right: 45px;
      }
      & .manufacture-inner__descr:nth-child(2) {
        margin-bottom: 20px;
      }
      & .manufacture-inner__descr:not(:first-child) {
        margin-right: 305px;
      }
    }
    &__right {
      flex-basis: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__descr {
      color: #ffffff;
    }
  }
  // manufactures
  .manufactures {
    padding-top: 150px;
    padding-bottom: 150px;
    & .manufacture:first-child {
      margin-bottom: 150px;
    }
    & .manufacture:nth-child(2) {
      padding-top: 150px;
      border-top: 1px solid #585858;
      & .manufacture__lists {
        justify-content: center;
      }
      & .manufacture__list {
        max-width: 100%;
        margin-right: 0;
      }
      & .manufacture__round {
        left: 50%;
      }
    }
  }
  // page-links
  .page-links {
    margin-bottom: 200px;
  }
}

// docs
.docs-page {
  .docs-options {
    margin-bottom: 100px;
    &__content {
      display: flex;
      justify-content: space-between;
    }
    &__input {
      width: 263px;
    }
    &__btn {
      width: 113px;
      min-width: auto;
      border: none;
      cursor: pointer;
    }
  }
  .docs {
    margin-bottom: 200px;
    .catalog {
      &__body {
        justify-content: unset;
        border-bottom: 1px solid #585858;
        border-top: none;
      }
      &__link-box {
        flex-basis: 550px;
        max-width: 550px;
      }
      &__type {
        margin-right: auto;
        margin-left: 40px;
      }
    }
    & .docs__item:first-child .catalog__body {
      border-top: 1px solid #585858;
    }
    &__bottom-options-content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .pagination {
      margin-top: 45px;
    }
    .amount {
      position: absolute;
      right: 0;
      top: 50%;
    }
  }
}

// projects-page
.projects-page {
  .projects {
    padding: 0;
    &__filters {
      display: flex;
    }
    &__filter:first-child {
      margin-right: 15px;
    }
    &__filter .custom-select__btn {
      max-width: 160px;
    }
    &__filter .custom-select__body {
      min-width: 306px;
    }
    &__list {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 75px;
    }
    &__item {
      overflow: hidden;
    }
    &__link {
      display: block;
      position: relative;
    }
    &__link:hover .projects__info {
      height: 100%;
    }
    &__link:hover .projects__title-box {
      opacity: 1;
    }
    &__info {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 3px;
      left: 0;
      right: 0;
      height: 0%;
      background-color: rgba($color: #000000, $alpha: 0.6);
    }
    &__title-box {
      margin-left: 20px;
      margin-bottom: 15px;
      margin-right: 20px;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: #cacaca;
      opacity: 0;
      transition-delay: .1s;
    }
    &__title-box:first-child {
      margin-top: auto;
    }
    &__title {
      font-size: 18px;
      line-height: 140%;
      color: #ffffff;
      letter-spacing: unset;
      text-transform: none;
    }
    &__img {
      width: 100%;
      height: 100%;
    }
    &__reset {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 30px;
      cursor: pointer;
      color: #7F8F9F;
    }
    &__options {
      margin-top: 46px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .amount {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  .catalog {
    margin-top: 100px;
    margin-bottom: 200px;
  }
}

// sandvich-panels-page.html
.sandvich-panels-page {
  .sandvich-panels-inner {
    background-color: #F0F5FB;
    padding-top: 100px;
    padding-bottom: 100px;
    &__content  {
      display: grid;
      grid-template-columns: 306px 487px 407px;
    }
    &__left {
      padding-right: 106px;
    }
    &__middle {
      padding-right: 109px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__info:nth-child(2) {
      margin-top: 50px;
    }
  }

  .sandvich-panels-table {
    &__content {
      margin-top: 100px;
      display: flex;
    }
    &__left {
      width: 306px;
      padding-right: 115px;
    }
    &__right {
      flex-grow: 1;
    }
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 22px;
    }
  }

  .catalog {
    margin-top: 150px;
    margin-bottom: 200px;
  }

  .sandvich-panels-footer {
    display: none;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F0F5FB;
  }
}
