.page-inner {
  padding-top: 150px;
  padding-bottom: 100px;
}

.page-header {
  font-size: 64px;
  line-height: 83px;
  color: $color-header;
}

.page-title {
  font-size: $font-size-header;
  line-height: 120%;
  color: $color-header;
}

.description {
  font-size: 24px;
  color: $color-header;
  line-height: 120%;
}

.description-secondary {
  font-size: 18px;
  color: $color-normal;
  line-height: 140%;
}

.page-photo-description {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $bgc-mobile;
  &__content {
    display: flex;
  }
  &__left {
    flex: 50%;
  }
  &__right {
    flex: 50%;
    padding-left: 39px;
    padding-top: 50px;
    & * + * {
      margin-top: 50px;
    }
  }
  &__photo-box {
    height: 100%;
  }
  &__photo {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// designing-technical-support.html
// abouts

.abouts {
  padding-top: 150px;
  padding-bottom: 200px;
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    flex-basis: 350px;
  }
  &__title {
    margin-bottom: 30px;
  }
}

// run-systems.html
.run-systems {
  // offers
  .offers {
    padding-top: 150px;
    padding-bottom: 150px;
    // area
    .area {
      display: flex;
      &__header {
        margin-bottom: 50px;
      }
      &__header + .area__image-box {
        display: none;
      }
      // &__descr {
      //   margin-bottom: 20px;
      // }
      &__left {
        flex-basis: 50%;
      }
      &__right {
        flex-basis: 50%;
      }
      &__list {
        max-width: 500px;
        list-style-type: disc;
      }
      &__list-laptop {
        display: none;
      }
      &__item:first-of-type {
        margin-top: 20px;
      }
    }
    // resist
    .resist {
      &__header {
        margin-bottom: 50px;
      }
      &__descr-box {
        display: flex;
        justify-content: space-between;
      }
      &__descr {
        flex-basis: 50%;
      }
      &__descr:first-child {
        padding-right: 90px;
      }
      &__br {
        display: none;
      }
    }
    // fireresist
    .fireresist {
      display: flex;
      &__header {
        margin-bottom: 50px;
      }
      &__header + .fireresist__image-box {
        display: none;
      }
      &__left {
        flex-basis: 50%;
        padding-right: 90px;
      }
      &__right {
        flex-basis: 50%;
      }
      &__descr-laptop {
        display: none;
      }
    }
    // economy
    .economy {
      &__header {
        margin-bottom: 50px;
      }
      &__descr-box {
        display: flex;
        justify-content: space-between;
      }
      &__descr {
        flex-basis: 50%;
      }
      &__descr:first-child {
        padding-right: 90px;
      }
    }
    // individual
    .individual {
      display: flex;
      &__header {
        margin-bottom: 50px;
      }
      &__header + .individual__image-box {
        display: none;
      }
      &__left {
        padding-right: 16px;
        flex-basis: 50%;
      }
      &__right {
        padding-left: 16px;
        flex-basis: 50%;
      }
      &__bottom {
        display: none;
      }
      &__list {
        padding-left: 20px;
        list-style-type: disc;
      }
    }
    // roofs
    .roofs {
      display: flex;
      &__left {
        flex-basis: 50%;
      }
      &__right {
        flex-basis: 50%;
      }
      &__image-box {
        margin-bottom: 50px;
      }
      &__title {
        margin-bottom: 20px;
      }
      &__list {
        padding-right: 90px;
        line-height: 140%;
        list-style-position: inside;
        list-style-type: disc;
      }
      &__item {
        margin-left: 10px;
      }
    }
    & > * + * {
      margin-top: 150px;
    }
  }
  .slider {
    margin-bottom: 200px;
    &__header {
      margin-bottom: 50px;
    }
    .projects__keys {
      padding-top: 30px;
    }
  }
}
